doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/main.css")
    title Document
  body
    .container
      .profile-wrap
        if user && user.id
          .user-name= 'hello' + user.nick + 'sir!'
          .half
            div following
            .count.follower-count= user.Followings && user.Followings.length || 0
          .half
            div follower
            .count.follower-count= user.Followers && user.Followers.length || 0
          input#my-id(type="hidden" value=user.id)
          a#my-profile.btn(href="/profile") my Profile
          a#logout.btn(href="/auth/logout") log Out
        else
          form#login-form(action="/auth/login" method="post")
            .input-group
              label(for="email") email
              input#email(type="email" name="email" required autofocus)
            .input
              label(for="password") password
              input#password(type="password" name="password" required)
            if loginError
              .error-message= loginError
            a#join.btn(href="/join") sign up
            button#login.btn(type="submit") login
            a#kakao.btn(href="/auth/kakao") kakaotalk
      footer
        | made by koo
    block content

          